<!-- Sidebar Mark Info Template -->

<div class="sidebar-action">
    <a class="action" data-action="sidebar_collapse" href="#"><i class="barley-icon-remove"></i></a>
</div>
<div class="sidebar-label label-{{label_id}}">
    <a class="action" data-action="marks_addLabel" href="#" data-id="{{mark_id}}">{{label_name}}</a>
    <ul class="sidebar-label-list" data-id="{{mark_id}}"><li class="label-smart"><a href="#">Add A Smart Label</a></li></ul>
</div>
<div class="sidebar-info-panel">
    
    {{#preview}}
        <h4 class="prev-coll">Preview <i class="barley-icon-chevron-up"></i></h4>
        <section class="sidebar-info-preview">{{{preview}}}</section>
    {{/preview}}
    
    <h4 class="action" data-action="marks_editNotes">Notes <i class="barley-icon-pencil"></i></h4>
    <section id="notes-{{mark_id}}" data-id="{{mark_id}}" class="sidebar-info-notes hideoutline">{{{notes}}}</section>
    
    <h4 class="prev-coll">Share <i class="barley-icon-chevron-up"></i></h4>
    <section class="sidebar-info-share">
        <a class="social-link" href="#"><i class="barley-icon-social-twitter"></i></a>
        <a class="social-link" href="#"><i class="barley-icon-social-facebook"></i></a>
        <a class="social-link" href="#"><i class="barley-icon-social-dropbox"></i></a>
        <a class="social-link" href="#"><i class="barley-icon-pinterest"></i></a>
        <a class="social-link" href="#"><i class="barley-icon-envelope-alt"></i></a>
    </section>

</div>
{{#archived}}
    <button data-id="{{mark_id}}" data-view="sidebar" data-action="delete_mark">Delete Link</button>
{{/archived}}


<!-- Main Mark Listing Template -->
<div id="mark-{{mark_id}}" class="mark label-{{label_id}}">
    <h2><a target="_blank" href="{{url}}">{{title}}</a></h2>
    <div class="mark-meta">
        <span class="mark-date">{{nice_time}}</span>
        <span class="mark-sep">•</span>
        <span class="mark-link"><a target="_blank" href="{{url}}">{{url}}</a></span>
    </div>
    <div class="mark-actions" style="display: none;">
        <a class="action mark-info" href="#" data-action="show_mark_info" data-mark="mark-data-{{mark_id}}"><i class="barley-icon-elipsis"></i></a>
        <a class="action mark-archive" data-action="mark_archive" href="#" data-id="{{mark_id}}"><i class="barley-icon-ok"></i></a>
    </div>
    <script id="mark-data-{{mark_id}}" type="application/json">{"mark_id":"{{mark_id}}","label_id":"{{label_id}}","label_name":"{{label_name}}","notes":"{{notes}}","preview":{{embed}},"archived":{{active}}}</script>
</div>