application/config/database.php
application/logs/*.php
application/controllers/test.php
application/views/test.php
.DS_Store
.buildpath
.project
application/config/environment.php
application/config/*/**
!application/config/all/*
.sass-cache/
application/cache/db_backups
custom
node_modules
.sass-cache
assets/css/.sass-cache/*
assets/css/*.css.map
error_log
