
@font-face {
    font-family: 'MuliRegular';
    src: url('../fonts/Muli-Regular-webfont.eot');
    src: url('../fonts/Muli-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Muli-Regular-webfont.woff') format('woff'),
         url('../fonts/Muli-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Muli-Regular-webfont.svg#MuliRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MuliItalic';
    src: url('../fonts/Muli-Italic-webfont.eot');
    src: url('../fonts/Muli-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Muli-Italic-webfont.woff') format('woff'),
         url('../fonts/Muli-Italic-webfont.ttf') format('truetype'),
         url('../fonts/Muli-Italic-webfont.svg#MuliItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Regular.woff') format('woff'),
         url('../fonts/Montserrat-Regular.ttf') format('truetype'),
         url('../fonts/Montserrat-Regular.svg#Montserrat') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MontserratBold';
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Bold.woff') format('woff'),
         url('../fonts/Montserrat-Bold.ttf') format('truetype'),
         url('../fonts/Montserrat-Bold.svg#MontserratBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*

Fonts:

Montserrat by Julieta Ulanovsky
Muli by Vernon Adams

Both under the SIL Open Font License, 1.1
http://scripts.sil.org/cms/scripts/page.php?item_id=OFL_web

*/