.icon-archive {
	background-image: url('icons/archive.png');
	background-repeat: no-repeat;
}
.icon-big_close {
	background-image: url('icons/big_close.png');
	background-repeat: no-repeat;
}
.icon-check {
	background-image: url('icons/check.png');
	background-repeat: no-repeat;
}
.icon-down {
	background-image: url('icons/down.png');
	background-repeat: no-repeat;
}
.icon-edit {
	background-image: url('icons/edit.png');
	background-repeat: no-repeat;
}
.icon-ellipsis {
	background-image: url('icons/ellipsis.png');
	background-repeat: no-repeat;
}
.icon-go {
	background-image: url('icons/go.png');
	background-repeat: no-repeat;
}
.icon-goto_link {
	background-image: url('icons/goto_link.png');
	background-repeat: no-repeat;
}
.icon-heading_archive {
	background-image: url('icons/heading_archive.png');
	background-repeat: no-repeat;
}
.icon-heading_close {
	background-image: url('icons/heading_close.png');
	background-repeat: no-repeat;
}
.icon-heading_collapse {
	background-image: url('icons/heading_collapse.png');
	background-repeat: no-repeat;
}
.icon-heading_expand {
	background-image: url('icons/heading_expand.png');
	background-repeat: no-repeat;
}
.icon-heading_search {
	background-image: url('icons/heading_search.png');
	background-repeat: no-repeat;
}
.icon-heading_tag {
	background-image: url('icons/heading_tag.png');
	background-repeat: no-repeat;
}
.icon-heading_time {
	background-image: url('icons/heading_time.png');
	background-repeat: no-repeat;
}
.icon-label {
	background-image: url('icons/label.png');
	background-repeat: no-repeat;
}
.icon-links {
	background-image: url('icons/links.png');
	background-repeat: no-repeat;
}
.icon-menu_close {
	background-image: url('icons/menu_close.png');
	background-repeat: no-repeat;
}
.icon-menu_open {
	background-image: url('icons/menu_open.png');
	background-repeat: no-repeat;
}
.icon-option_down {
	background-image: url('icons/option_down.png');
	background-repeat: no-repeat;
}
.icon-option_up {
	background-image: url('icons/option_up.png');
	background-repeat: no-repeat;
}
.icon-search {
	background-image: url('icons/search.png');
	background-repeat: no-repeat;
}
.icon-settings {
	background-image: url('png/settings.png');
	background-repeat: no-repeat;
}
.icon-spinner {
	background-image: url('icons/spinner.png');
	background-repeat: no-repeat;
}
.icon-time {
	background-image: url('icons/time.png');
	background-repeat: no-repeat;
}
.icon-up {
	background-image: url('icons/up.png');
	background-repeat: no-repeat;
}
.icon-goto_title {
	background-image: url('icons/goto_title.png');
	background-repeat: no-repeat;
}
.icon-unarchive {
	background-image: url('png/unarchive.png');
	background-repeat: no-repeat;
}
