body {  padding-top: 20px; }

h1 { padding-bottom: 10px; }

a { color: #1C8B71; }
a:hover { color: #088562; }

.logo { width: 40px; float: left; margin: 0 20px 0 0; padding: 0; }
.navigation { float: left; margin: 0 0 0 20px; }

.carousel-caption { background: #000; opacity: 0.8; }
.carousel-caption h1 { }

.dropdown-menu li a:hover, .dropdown-menu .active a, .dropdown-menu .active a:hover { background-color: #1C8B71; }

/* A slightly custom class for Mark URLs */
.mark h3 { color: #c0c0c0; }
  .mark h3 a span.label:hover { text-decoration: none; }
.mark .markbuttons { width: 70px; padding-top: 7px; float: left; }
.mark .markmeta { margin-left: 4px; }
.mark .markmeta p { margin-bottom: 4px; }
.mark p small a { color: #c0c0c0; }
.mark p small .dateadded a { color: #A6A6A6; }
.mark .mobilefriendly {display:none;}

.mark .preview-button i { margin-top: 8px; }
.preview-panel { display: none; }
.preview-panel img { max-width: 500px; }
.preview-panel p { font-size: 0.9em; color: grey; }

.hrecipe { 
    background: #FFF8DB;
    padding: 10px;
    width: 250px;
    color: #333;
  }
    .hrecipe .fn {
      font-size: 1.5em;
      padding-bottom: 10px;
    }
    
    .hrecipe .ingredients {
      margin-left: 10px;
      margin-bottom: 10px;
    }
    
      .hrecipe .ingredients .ingredient {
        display: block;
        border-bottom: 1px solid #c0c0c0;
        margin-bottom: 6px;
      }
    
    .hrecipe .yield {
      font-weight: bold;
    }

.note {
  padding: 0;
  margin: 0 0 0 70px;
}
  .note p { color: #333; margin: 0px 0px 0px 0px; padding: 0px 4px 2px 4px; }

/* Groups */
.groupbuttons {
  float: right;
}

.groupinfo {
  float: right;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
body { margin: 0; padding: 3px 0;}
.container-fluid { width: 98%; margin: 0 auto; padding: 0; }

.marks .mark h3 span.dateadded { display: none; font-size: 0.6em; }
.marks .mark small { display: none; }
.marks .mark .mobilefriendly {display:inline;}

.mark .markmeta { margin: 0 0 0 80px; padding: 0; }

.preview-panel img { max-width: 300px; }
.preview-panel iframe { max-width: 300px; }

.logo { width: 20px; float: left; margin: 0 2px 0 0; padding: 0; }
  .logo h1 { margin: 0; padding: 0;}
    .logo h1 img { width: 30px; }
.navigation { float: left; width: 260px; margin: 0 0 0 5px; }
  .navigation hr { display: none; }

h2 { clear: both; font-size: 1.4em; }
h3 { font-size: 1.3em;}

.bookmarklet { display: none; }

.hero-unit, .hero-unit h1, .carousel, .hero-unit.span5 { display: none; }

.mark .preview-button { padding: 0px 8px 2px 8px; }

.note {
  width: 300px;
}

/* Groups */
.groupbuttons {
  float: inherit;
  margin: 0 0 0 50px;
}
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */

.bookmarklet { display: none; }

.mark .preview-button { padding: 0px 8px 2px 8px; }
.preview-panel img { max-width: 400px; }
  .preview-panel .row-fluid .span5 img { max-width: 200px; }
.preview-panel iframe { max-width: 500px; }

}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */

}