/*
    Main stylesheet for Unmark.it
    Copyright 2014 - Plain - http://plainmade.com

    ** NOTE ** -
    This is the SASS File and you must run GRUNT to compile this before pushing to production

*/

// First include Bourbon & Neat
@import "../libraries/bourbon/bourbon";
@import "partials/grid-settings";
@import "../libraries/neat/neat";

// Color Variables for Layouts (greyscale)
$color_dark     : #3D3D3D;
$color_darker   : #222222;
$color_darkest  : #303030;
$color_light    : #BEBCBD;
$color_lighter  : #F2F0F1;
$color_lightest : #474747;
$color_white    : #FFFFFF;
$color_black    : #000000;
$color_shade    : #F9F9F9;

// Color Variables for labels
$color_orange : #E28128;
$color_blue   : #2D96C5;
$color_yellow : #EAC863;
$color_purple : #8E75A6;
$color_green  : #69B363;
$color_red    : #EB5556;
$color_pink   : #fa736b;
$color_grey   : #A5A6AA;

// Font Variables
$serif      : 'Merriweather', serif;
$sans-serif : 'Lato', sans-serif;
$title      : 'Montserrat', sans-serif;

// Import Mixins
@import "partials/element-settings";

/* normalize.css v2.1.3 | MIT License | git.io/normalize */article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden],template{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a{background:0 0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

// ================ Body //
*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html { background: $color_darkest; }
body, html{
    min-height: 100%;
    height:100%;

}
body[data-lookup="all"] { opacity: 0; }
body {
    overflow:hidden;
    font-family: $sans-serif;
    font-weight: 300;
    min-height: 100%;
    color:$color_dark;
    background: #000;
    box-shadow: 0 120px 130px -70px $color_darkest inset;
    @include font-smoothing;
    a {
        color: $color_white;
        text-decoration:none;
    }
    * {
        @include box-sizing(border-box);
    }
    &.unmark-solo {
        overflow: auto;
        border-left:none;
        border-top:none;
        background: $color_white;
        box-shadow:none;
    }
    &#unmark-login {
        background: $color_darkest;
        position:relative;
    }
    &.greybg {
        background:$color_shade;
    }
}

// Blur for WebKit
//#unmark-wrapper { -webkit-transition:-webkit-filter 0.4s ease-in-out; }
//.blurme { -webkit-filter: blur(5px); }

// Logo
.branding {
    width: 150px;
    height: 64px;
    position: absolute;
    left: 61px;
    top: -2px;
    overflow: hidden;
    display: none;
    .logo-text {
        width: 130px;
        height: 20px;
        margin: 22px auto 18px;
        background-size: 65%;
        background-position: top left;
    }
}

// Hide Stupid Outlines
textarea:focus, input:focus, .hideoutline, button { outline: 0; }
// However for now, show a slight background to know what you are editing.
.editable { background-color: #FDFBE4; }

.sidebar-spacer {
    display: inline-block;
    padding: 0 6px;
}

// Images
img { max-width: 100%; }
.centerme { text-align: center; }
.tempdata { display: none; }
.hide { display: none; }
.clear { clear: both; }

// Setup Page
#unmark-setup {
    width: 500px;
    margin: 50px auto;
    color: $color_white;
    text-align: center;
    a {
        color: $color_white;
        border-bottom: 1px dashed $color_light;
    }
    a.unmark-setup {
        border-radius: 5px;
        padding: 10px 30px 12px;
        margin-top: 25px;
        background-color: $color_red;
        display: inline-block;
    }
}


// ================ Site Wrapper
.main-wrapper {
    @include outer-container;
    position: relative;
    min-height: 100%;
    height:100%;
    position: absolute;
    top: 8px;
    left: 65px;
    z-index: 201;
    box-shadow: 0 2px 14px 0 rgba(0,0,0,0.3), 0 1px 3px 0 rgba(0,0,0,0.18);
    .inner-wrapper {
        @include span-columns(12);
        @include row(table);
        min-height: 100%;
        height:100%;
    }
}

// ================ Site Navigation
.navigation-content {
    position: absolute;
    left: 0px;
    top: 0;
    width: 65px;
    z-index: 200;
    background-color: $color_dark;
    min-height: 100%;
    margin-top: 64px;
    box-shadow: 0 9px 10px -9px rgba(0,0,0,0.3) inset;
    .menu-item {
        height: inherit;
        text-align: center;
        border-bottom:1px solid $color_lightest;
        cursor: pointer;
        height: 64px;
        a {
            color: $color_white;
            text-decoration:none;
            padding: 20px 0;
            width: 64px;
            height: 64px;
            display: block;
            i {
                font-size: 27px;
                width: 24px;
                height: 24px;
                display: block;
                background-size: 100%;
                margin: 0 auto;
            }
        }
        &.active-menu {
            background: #333;
            box-shadow: 1px 0 0 0 #333;
            width: 66px;
        }
    }
    .menu-item:first-child {
        border-bottom:none;
    }
    .menu-activator {
        background-color: transparent;
        margin-top: -64px;
    }
    .menu-settings {
        position: absolute;
        bottom: 64px;
        left: 0;
        border-top:1px solid $color_lightest;
        border-bottom:none;
    }
}

.navigation-pane {
    width: 200px;
    background-color: $color_dark;
    min-height: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:-193px;
    z-index: 100;
    //border-top: 64px solid $color_darker;
    margin-top: 64px;
    ul.navigation-pane-links {
        margin:0;
        padding:0;
        box-shadow: 0 9px 10px -9px rgba(0,0,0,0.3) inset;
        li {
            list-style: none;
            a {
                display: block;
                @include title-text;
                color: $color_white;
                border-bottom: 1px solid $color_lightest;
                font-size: 11px;
                padding: 20px 0 20px 10px;
                height: 64px;
                line-height: 24px;
            }
        }
        li.panel-settings {
            position: absolute;
            bottom:64px;
            width:200px;
            a {
                border-bottom: 0;
                border-top:1px solid $color_lightest;
            }
        }
    }
    .navigation-panel-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100%;
        .nav-panel {
            position: absolute;
            display:none;
            color: #FFF;
            background-color: #333333;
            min-height: 100%;
            width: 200px;
            padding: 10px 20px;
            overflow: scroll;
            -webkit-overflow-scrolling: touch;
            border-left: 1px solid;
            border-color: lighten($color_dark, 4%);
            box-shadow: 0 6px 10px -6px rgba(0,0,0,0.3) inset;
        }
        #panel-upgrade {
            color: $color_light;
            line-height: 25px;
            font-size: 15px;
            text-align: center;
            p {
                font-style: italic;
                font-size: 14px;
                line-height: 20px;
            }
            .upgrade-features {
                border-top: 1px solid transparentize($color_light, 0.85);
                border-bottom: 1px solid transparentize($color_light, 0.85);
                margin: 24px 0;
                padding: 30px 0 10px 0;
                i {
                    font-size: 10px;
                    background-color: $color_light;
                    border: 4px solid $color_light;
                    width: 24px;
                    height: 24px;
                    display: inline-block;
                    color: $color_dark;
                    background-size: 100%;
                    border-radius: 50em;
                }
                h4 {
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 300;
                    padding: 0 45px;
                    margin-top: 0;
                }
            }
            button#upgradeNow {
                background-color: $color_blue;
                font-size: 12px;
                @include title-text;
                @include font-smoothing;
                color: white;
                padding: 16px;
                width: 100%;
            }
        }
    }
}

ul.label-list {
    margin: 25px 0;
    padding: 0;
    text-align: right;
    li {
        list-style: none;
        position: relative;
        a {
            @include title-text;
            color: $color_white;
            display: block;
            border-bottom: none;
            padding: 0;
            font-size: 11px;
            padding: 0 50px 45px 0;
            position: relative;
            z-index: 900;
        }
        span {
            display: block;
            font-style: italic;
            font-weight: 400;
            font-size: 11px;
            color: darken($color_light, 15%);
            margin-top: 2px;
            position: absolute;
            right: 50px;
            top: 15px;
        }
        &:after {
            @include unmark-label-ball(2px, 10px, 22px, true);
        }
        &.label-2:after { background: $color_orange; }
        &.label-3:after { background: $color_blue; }
        &.label-4:after { background: $color_yellow; }
        &.label-5:after { background: $color_purple; }
        &.label-6:after { background: $color_green; }
        &.label-7:after { background: $color_pink; }
    }
}

h4.nav-heading {
    @include title-text;
    font-size: 11px;
    border-bottom: 1px solid lighten($color_dark, 5%);
    padding: 0 0 14px 2px;
    margin-top: 45px;
    margin-bottom: 24px;
    color: $color_lighter;
    span {
        text-transform: none;
        font-size: 13px;
        padding-left: 10px;
        font-family: "Lato", sans-serif;
        font-weight: 400;
        letter-spacing: normal;
        font-style: italic;
    }
}

ul.nav-list {
    margin:0;
    padding:0;
    li {
        list-style: none;
        color: $color_light;
        margin: 18px 4px;
        font-size: 14px;
        a {
            font-size: 13px;
            display: block;
            color: white;
        }
    }
}

#panel-search {
    #search-form {
        margin-top: 15px;
        position: relative;
        input {
            background: $color_white;
            width: 100%;
            padding: 10px 13px;
            font-size: 13px;
            font-weight: 300;
            box-shadow: none;
            border: none;
        }
        ::-webkit-input-placeholder {
            @include title-text;
            @include font-smoothing;
            font-size: 11px;
            color: $color_light;
            line-height: 17px;
        }
        ::-moz-placeholder {
            @include title-text;
            @include font-smoothing;
            font-size: 11px;
            color: $color_light;
            line-height: 17px;
        }
        :-ms-input-placeholder {
            @include title-text;
            @include font-smoothing;
            font-size: 11px;
            color: $color_light;
            line-height: 17px;
        }
        button {
            background: none;
            position: absolute;
            top: 8px;
            right: -6px;
            i {
                width: 11px;
                height: 11px;
                display: block;
                background-size: 100%;
            }
        }
    }
    ul.tag-list {
        margin: 0;
        padding:0;
        li {
            list-style: none;
            color: $color_light;
            a {
                color: $color_lighter;
                border-bottom: none;
                padding: 8px 10px;
                text-transform: inherit;
                display: block;
                font-size: 14px;
            }
        }
    }
}

#panel-settings {
    button#logout-btn {
        width: 100%;
        margin-top: 15px;
        padding: 13px 0 15px;
        font-size: 13px;
        @include title-text;
        @include font-smoothing;
    }
}


// ================ Main Content
.main-content {
    @include span-columns(7);
    padding-right:0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    position: absolute;
    background: $color_white;
    h2.marks-heading {
        @include title-text;
        color: $color_lightest;
        margin: 0;
        padding: 14px 18px;
        font-size: 11px;
        line-height: 28px;
        @include drop-shadow-border();
        position:fixed;
        width:100%;
        background: $color_white;
        z-index: 500;
        height: 56px;
        i {
            vertical-align: -4px;
            margin-right: 6px;
            width: 18px;
            height: 18px;
            display: inline-block;
            background-size: 100%;
        }
    }
    .marks {
        margin-top: 56px;
        &#lookup-all {
            margin-top:0;
        }
    }
}

.info-content {
    padding: 0 25px;
}


// Marks Area
.marks_list {
    .mark {
        cursor: pointer;
        border-bottom:1px solid $color_lighter;
        padding: 24px 85px 32px 25px;
        position:relative;
        h2 {
            margin:0 0 12px 0;
            font-weight: 300;
            a {
                color: $color_darker;
                &:hover {
                    &:after {
                        display: inline-block;
                        content: " ";
                        background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2015.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2228px%22%20height%3D%2228px%22%20viewBox%3D%220%200%2028%2028%22%20enable-background%3D%22new%200%200%2028%2028%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20fill%3D%22%23C1C1C1%22%20points%3D%229.003%2C2.048%209.003%2C5.048%2020.758%2C5.048%201.998%2C23.807%204.143%2C25.953%2023.003%2C7.091%2023.003%2C19.049%20%0D%0A%0926.003%2C19.049%2026.003%2C2.048%20%22/%3E%0D%0A%3C/svg%3E%0D%0A');
                        background-repeat: no-repeat;
                        background-size: 100%;
                        margin-left: 10px;
                        width: 14px;
                        height: 14px;
                        opacity: 0.6;
                        vertical-align: -1px;
                    }
                }
            }
        }
        .mark-meta {
            font-style: italic;
            font-size: 12px;
            color: darken($color_light, 15%);
            .mark-sep {
                padding: 0 6px 0 5px;
                color: lighten($color_light, 15%);
            }
            .mark-link a {
                text-decoration: none;
                color: darken($color_light, 15%);
                display:inline-block;
                vertical-align: bottom;
                @include unmark-truncate(65%);
            }
        }
        &:after {
            @include unmark-label-ball(50%, 18px, 22px, true);
            margin-top:-11px;
            background: transparent;
            font-family: $title;
            font-size: 12px;
            color: transparentize(white, 0.5);
            text-align: center;
            line-height: 21px;
        }
        .note-placeholder { display: none; }
        .mark-actions {
            display:none;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 400;
            height: 100%;
            a {
                background: lighten($color_grey, 7%);
                display: block;
                text-align: center;
                width: 58px;
                height: 50%;
                padding: 0;
                position:relative;
                i {
                    font-size: 19px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    display: block;
                    width: 22px;
                    height: 22px;
                    margin: -11px 0 0 -11px;
                    background-size: 100%;
                }
                &.mark-archive {
                    background: lighten( $color_grey, 18%);
                }
            }
        }
        &.label-2 {
            &:after {
                background: $color_orange;
            }
            .mark-actions a {
                background: lighten($color_orange, 7%);
                &.mark-archive {
                    background: lighten( $color_orange, 18%);
                }
            }
        }
        &.label-3 {
            &:after {
                background: $color_blue;
                font-size: 11px;
                padding-top: 1px;
            }
            .mark-actions a {
                background: lighten($color_blue, 7%);
                &.mark-archive {
                    background: lighten( $color_blue, 18%);
                }
            }
        }
        &.label-4 {
            &:after {
                background: $color_yellow;
            }
            .mark-actions a {
                background: $color_yellow;
                &.mark-archive {
                    background: lighten( $color_yellow, 9%);
                }
            }
        }
        &.label-5 {
            &:after {
                background: $color_purple;
            }
            .mark-actions a {
                background: lighten($color_purple, 7%);
                &.mark-archive {
                    background: lighten( $color_purple, 18%);
                }
            }
        }
        &.label-6 {
            &:after {
                background: $color_green;
            }
            .mark-actions a {
                background: lighten($color_green, 7%);
                &.mark-archive {
                    background: lighten( $color_green, 18%);
                }
            }
        }
        &.label-7 {
            &:after {
                background: $color_pink;
            }
            .mark-actions a {
                background: lighten($color_pink, 7%);
                &.mark-archive {
                    background: lighten( $color_pink, 18%);
                }
            }
        }
        &.hide-dot:after {
            display:none;
        }
        &.view-inactive {
            opacity: .3;
        }
        &.view-active {
            box-shadow: 0 -1px 0 0 $color_lighter;
            .mark-actions { display: block !important; }
        }
    }
}

// ================ Right Content
.sidebar-content {
    @include span-columns(5);
    @include reset-display;
    background-color: lighten($color_lighter, 3%);
    min-height: 100%;
    height: 100%;
    padding-right:0;
    position: absolute;
    right: -1.5%;
    padding-right: 1.5%;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 600;
    .sidebar-block {
        @include drop-shadow-border();
        padding: 15px 0;
        background: #fdfdfd;
        box-shadow: 0 2px 3px 0 rgba(0,0,0,0.08),0 1px 0 0 rgba(0,0,0,0.02), 0 2px 3px 0 rgba(0,0,0,0.08) inset,0 1px 0 0 rgba(0,0,0,0.02) inset;
        .sidebar-inner {
            padding: 0 25px 4px;
            @extend %clearfix;
            p {
                font-size: 14px;
                line-height: 20px;
                margin: 20px 0;
            }
            a.btn, button {
                @include title-text;
                @include font-smoothing;
                font-size: 10px;
                line-height: 16px;
                padding-top: 7px;
                margin: 0;
                border: 3px solid #fdfdfd;
                width: auto;
                box-sizing: border-box;
                float: left;
                color: $color_white;
                text-decoration:none;
            }
            a {
                color: $color_dark;
                text-decoration: underline;
            }
            .sidenote {
                padding: 10px 0 0 5px;
                margin-bottom: 0;
            }
        }
    }
    //.sidebar-default { display: none; }
    .sidebar-mark-info { display: none; }
    &:after {
        display: block;
        content: "";
        position: fixed;
        width: 20px;
        height: 100%;
        box-shadow: 15px 0 34px -20px rgba(0,0,0,0.11) inset,3px 0 5px -4px rgba(0,0,0,0.16) inset;
        top: 8px;
        z-index: 1;
    }
    &.wide {
        &:after {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            margin-left: -20px;
        }
    }
    .sidebar-info-block {
        padding: 25px 0;
        ul.sidebar-links {
            margin: -25px 0;
            padding: 0;
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    display: block;
                    border-bottom: 1px solid darken($color_lighter, 3%);
                    padding: 25px 25px;
                    color: darken($color_dark, 5%);
                    font-weight: 300;
                    &:visited {
                        color: lighten($color_dark, 20%);
                        background-color: rgba(0,0,0,0.02);
                    }
                }
            }
        }
    }
    h4.suggestion-heading {
        width: 100%;
        padding: 26px 22px;
        margin: 0px;
        font-weight: 400;
        font-style: italic;
        border-bottom: 1px solid #e7e7e7;
    }
}

.sidebar-mark-info {
    .sidebar-action {
        @include drop-shadow-border();
        position: fixed;
        width: 100%;
        top: 8px;
        height: 56px;
        z-index: 99999;
        background: $color_shade;
        a {
            position: fixed;
            top: 21px;
            left: inherit;
            margin-left: 15px;
            &:last-child {
                right: 12px;
                top: 21px;
                left: inherit;
                margin:0;
            }
            i {
                color: $color_light;
                font-size: 20px;
                width: 15px;
                height: 15px;
                display: block;
                background-size: 100%;
                margin: 7px 7px 0 0;
            }
        }
    }
    .sidebar-label {
        background: white;
        position: relative;
        margin-top: 56px;
        height: 56px;
        @include drop-shadow-border();
        &:before {
            @include unmark-label-ball(19px, 20px, 18px);
        }
        a {
            margin: 0;
            padding: 21px 0 21px 50px;
            @include title-text;
            font-size: 12px;
            color: $color_grey;
            display: block;
        }
        &.label-2 {
            //background: rgba($color_orange, .2);
            box-shadow: 0 2px 3px 0 rgba(0,0,0,0.08), 0 1px 0 0 rgba(0,0,0,0.02), 0 0 0 100px lighten($color_orange, 36) inset;
            &:before { background: $color_orange; }
            a { color: $color_orange; }
        }
        &.label-3 {
            //background: rgba($color_blue, .2);
            box-shadow: 0 2px 3px 0 rgba(0,0,0,0.08), 0 1px 0 0 rgba(0,0,0,0.02), 0 0 0 100px lighten($color_blue, 46) inset;
            &:before { background: $color_blue; }
            a { color: $color_blue; }
        }
        &.label-4 {
            //background: rgba($color_yellow, .2);
            box-shadow: 0 2px 3px 0 rgba(0,0,0,0.08), 0 1px 0 0 rgba(0,0,0,0.02), 0 0 0 100px lighten($color_yellow, 29) inset;
            &:before { background: $color_yellow; }
            a { color: $color_yellow; }
        }
        &.label-5 {
            //background: rgba($color_purple, .2);
            box-shadow: 0 2px 3px 0 rgba(0,0,0,0.08), 0 1px 0 0 rgba(0,0,0,0.02), 0 0 0 100px lighten($color_purple, 38) inset;
            &:before { background: $color_purple; }
            a { color: $color_purple; }
        }
        &.label-6 {
            //background: rgba($color_green, .2);
            box-shadow: 0 2px 3px 0 rgba(0,0,0,0.08), 0 1px 0 0 rgba(0,0,0,0.02), 0 0 0 100px lighten($color_green, 39) inset;
            &:before { background: $color_green; }
            a { color: $color_green; }
        }
        &.label-7 {
            //background: rgba($color_pink, .2);
            box-shadow: 0 2px 3px 0 rgba(0,0,0,0.08), 0 1px 0 0 rgba(0,0,0,0.02), 0 0 0 100px lighten($color_pink, 34) inset;
            &:before { background: $color_pink; }
            a { color: $color_pink; }
        }
        #label-chosen {
            position: absolute;
            left: 250px;
            top: 80px;
            z-index: 9999;
            display: none;
            font-size: 11px;
            @include title-text;
            color: $color_grey;
            &.label-2 { color: $color_orange; }
            &.label-3 { color: $color_blue; }
            &.label-4 { color: $color_yellow; }
            &.label-5 { color: $color_purple; }
            &.label-6 { color: $color_green; }
            &.label-7 { color: $color_red; }
        }
    }
    .sidebar-info-panel {
        padding: 10px 0 10px 25px;
        width: 96%;
        h4 {
            border-bottom: 1px solid lighten($color_light, 16%);
            padding: 0 0 14px 0;
            @include title-text;
            font-size: 11px;
            position: relative;
            color: $color_lightest;
            cursor: pointer;
            margin-bottom: 26px;
            i {
                position: absolute;
                right: 5px;
                top: 0px;
                color: $color_dark;
                background-size: 100%;
                width: 12px;
                height: 12px;
            }
        }
        section {
            margin-bottom: 45px;
            font-size: 14px;
            line-height: 23px;
            padding: 0 2px;
            overflow:hidden;
            a.social-link {
                float:left;
                border: 1px solid $color_light;
                border-right: none;
                background: $color_white;
                text-align: center;
                padding: 8px 11px;
                i {
                    color: $color_dark;
                    font-size: 15px;
                }
                &:last-child {
                    border-right: 1px solid $color_light;
                }
            }
            span.action { cursor: pointer; }
            &.sidebar-info-notes {
                padding: 5px 10px;
            }
            &.sidebar-info-notes a {
                color: $color_black;
                font-weight: 400;
            }
            img {
                max-width:100% !important;
                height:auto;
                display:block;
            }
            .videoInfo {
                clear: both;
                padding: 15px 0 5px 0;
                span.viLeft {
                    font-style: italic;
                    float: left;
                }
                span.viRight {
                    font-style: italic;
                    float: right;
                }
                a {
                    color: $color_dark;
                    box-shadow: 0px 1px 0px $color_dark;
                }
                p {
                    clear: both;
                    padding-top: 20px;
                }
            }
            .hrecipe {
                background: #FFF8DB;
                padding: 10px;
                color: #333;
            }
            .hrecipe .fn {
                font-size: 1.5em;
                padding-bottom: 10px;
            }
            .hrecipe .ingredients {
                margin-left: 10px;
                margin-bottom: 10px;
            }
            .hrecipe .ingredients .ingredient {
                display: block;
                border-bottom: 1px solid #c0c0c0;
                margin-bottom: 6px;
            }
            .hrecipe .yield {
                font-weight: bold;
            }
        }
        textarea {
            width: 100%;
            min-height: 75px;
            border: none;
            background-color: $color_shade;
        }
    }
    button {
        clear: both;
        margin: 25px;
        width: 89%;
        padding: 17px 0;
        @include title-text;
        @include font-smoothing;
        font-size: 13px;
    }
}


.nav-header {
    list-style: none;
    padding-left: 0;
    margin-left: -18px;
    font-size: 20px;
    padding-bottom: 10px;
}

.mobilefriendly {
    display: none;
}

// Sidbear Preview Pane
#sidebar-preview {
    display: none;
}

// Sidebar Extras
.sidebar-upgrade-notice {
    padding: 15px 40px;
    text-align: center;
    .unmark-upgrade-icon {
        width: 175px;
        margin: 25px auto;
        img {
            max-width:100%;
        }
    }
    h4 {
        font-size: 17px;
        line-height: 28px;
        font-weight: 400;
        padding: 0 35px;
    }
}

// ================ Timeline Rail

.timeline_wrapper { width: 100%; }

ul.timeline {
    position: relative;
    list-style-type: none;
    width: 100%;
    margin:25px 0 0 0;
    padding:0;
    &:before {
        position: absolute;
        right: 26px;
        top: 7px;
        content: "";
        display: block;
        width: 2px;
        height: 100%;
        margin-left: -2px;
        @include linear-gradient(to bottom, $color_light 0%, $color_light 60%, rgba(0,0,0,0) 100%);
        background-color: transparent;
        z-index: 5;
        opacity: 0.2;
    }
    .timeline-dot {
        position: relative;
        display: inline-block;
        text-align: right;
        width: 100%;
        padding: 0;
        margin:0;
        text-transform: uppercase;
        font-size: 13px;
        &:before {
            position: absolute;
            top: 2px;
            right: 22px;
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            margin-left: -9px;
            background: lighten($color_light, 15%);
            border-radius: 50%;
            box-shadow: 0 0 0 5px transparentize(white, 0.9), 0 -6px 10px -5px rgba(0,0,0,0.3) inset;
            z-index: 10;
        }
        a {
            @include title-text;
            display: block;
            padding: 0 58px 40px 0;
            margin-bottom: 20px;
            position: relative;
            font-size: 11px;
            z-index: 11;
            span {
                font-style: italic;
                font-family: $sans-serif;
                text-transform: none;
                letter-spacing: normal;
                word-spacing: normal;
                display: block;
                font-weight: 400;
                font-size: 11px;
                margin-top: 2px;
                padding: 4px 0 0 0;
                color: darken($color_light, 15%);
            }
        }
    }
}




// Line Graph
canvas.graph {
    border-bottom:1px solid transparentize($color_light, 0.75);
    margin: 25px 0 18px;
    width: 400px;
    height: 100px;
}


// ============== Mark Add Popup ================
.mark-added {
    font-weight: 300;
    .mark-added-block {
        background: $color_dark;
        color: $color_lighter;
        padding: 22px;
        font-size: 11px;
        @include title-text;
        word-spacing: 1px;
        line-height: 13px;
        box-shadow: 0 -6px 9px -7px rgba(0,0,0,0.7) inset;
        i {
            float: right;
            margin-top: -5px;
            margin-right: -6px;
            width: 24px;
            height: 24px;
            background-size: 100%;
        }
    }
    .mark-added-info {
        padding: 25px;
        color: $color_white;
        background: white;
        h1 {
            font-weight: 300;
            color:$color_dark;
            font-size: 26px;
            margin: 0 0 15px 0;
        }
        span {
            color: darken($color_light, 30%);
            font-size: 13px;
            display: inline-block;
            @include unmark-truncate(400px);
        }
    }
    .mark-added-settings {
        font-size: 11px;
        border-top: 1px solid #e5e5e5;
        padding: 25px;
        color:$color_grey;
        position: relative;
        @include title-text;
        a {
            color:$color_grey;
            text-transform: uppercase;
            display: block;
            position: relative;
            padding-left: 20px;
            &#currLabel {
                margin-left: 4px;
            }
            &:before {
                @include unmark-label-ball(-3px, -9px, 20px);
            }
            &.label-2 {
                &:before {
                    background: $color_orange;
                }
                color: $color_orange;
            }
            &.label-3 {
                &:before {
                    background: $color_blue;
                }
                color: $color_blue;
            }
            &.label-4 {
                &:before {
                    background: $color_yellow;
                }
                color: $color_yellow;
            }
            &.label-5 {
                &:before {
                    background: $color_purple;
                }
                color: $color_purple;
            }
            &.label-6 {
                &:before {
                    background: $color_green;
                }
                color: $color_green;
            }
            &.label-7 {
                &:before {
                    background: $color_red;
                }
                color: $color_red;
            }
        }
        &.mark-added-note a {
            padding-left:0;
            &:before {
                display:none;
            }
        }
        section {
            display:none;
            position: absolute;
            background: $color_shade;
            width: 100%;
            left: 0px;
            top: 45px;
            opacity: .95;
            padding: 10px 25px;
            color: $color_darker;
        }
        textarea {
            background: $color_shade;
            width: 100%;
            opacity: .95;
            padding: 0;
            color: darken($color_darker, 15%);
            border: none;
            overflow: auto;
            resize: none;
            height: 84px;
            font-size: 14px;
            font-family: $sans-serif;
            @include font-smoothing;
        }
        :-webkit-input-placeholder {
            @include font-smoothing;
        }
        ::-moz-placeholder {
            @include font-smoothing;
        }
        :-ms-input-placeholder {
            @include font-smoothing;
        }
        &.mark-added-label section {
            padding: 0;
            top: 16px;
            left: 15px;
            z-index: 999;
        }
        #label-chosen {
            position: absolute;
            left: 254px;
            top: 24px;
            z-index: 9999;
            display: none;
            font-size: 12px;
            color: $color_grey;
            @include title-text;
            @include font-smoothing;
            &.label-2 { color: $color_orange; }
            &.label-3 { color: $color_blue; }
            &.label-4 { color: $color_yellow; }
            &.label-5 { color: $color_purple; }
            &.label-6 { color: $color_green; }
            &.label-7 { color: $color_red; }
        }
    }
    .mark-added-note {
        border-bottom: 1px solid #e5e5e5;
    }
    .mark-added-actions {
        padding: 35px 25px;
        background: $color_shade;
        position: absolute;
        bottom: 0;
        button {
            color:$color_light;
            width: 326px;
            color: $color_white;
            padding: 15px 0 16px;
            @include title-text;
            @include font-smoothing;
            font-size: 13px;
            line-height: 13px;
            &.delete {
                width: 200px;
                background: $color_red;
                margin-right: 15px;
            }
        }
    }
    .mark-added-upgrade {
        text-align: center;
        color: $color_dark;
        padding: 35px 15%;
        line-height: 28px;
        a { color: $color_dark; text-decoration:underline; }
        button {
            margin-top:25px;
        }
    }
}

// Label List
.mark-added-settings ul.label-choices, ul.sidebar-label-list {
    margin: 0;
    padding:0;
    float: left;
    li {
        list-style: none;
        display: block;
        float: left;
        a {
            display: block;
            color: $color_grey;
            text-align: left;
            padding: 15px 0 15px 32px;
            position: relative;
            font-size: 11px;
            &:before {
                @include unmark-label-ball(6px, 10px, 20px);
                opacity: 0.3;
            }
            &:hover {
                &:before {
                    opacity: 1;
                }
            }
            span {
                display:none;
            }
        }
        &.label-2 a {
            color: $color_orange;
            &:before { background: $color_orange !important; }
        }
        &.label-3 a {
            color: $color_blue;
            &:before { background: $color_blue !important; }
        }
        &.label-4 a {
            color: $color_yellow;
            &:before { background: $color_yellow !important; }
        }
        &.label-5 a {
            color: $color_purple;
            &:before { background: $color_purple !important; }
        }
        &.label-6 a {
            color: $color_green;
            &:before { background: $color_green !important; }
        }
        &.label-7 a {
            color: $color_red;
            &:before { background: $color_red !important; }
        }
    }
}

#mark-info-dump ul.sidebar-label-list {
    width: 100%;
    display: none;
    background: lighten($color_lighter, 5%);
    position: absolute;
    z-index: 1;
    top: 56px;
    left: 0px;
    padding: 15px 10px;
    border-top: 1px solid transparentize(black, 0.95);
    @include drop-shadow-border;
    li {
        a {
            right: 0;
            top: 0px;
            width: 100%;
            position: relative;
            padding: 15px 0 15px 32px;
            font-size: 11px;
        }
    }
}

// ==============  Site Label Color Scheme ========

// Body Top Border
body.label-1 { border-top: none; background: darken($color_grey, 2); box-shadow: 0 120px 130px -70px $color_grey inset, 0 30px 80px -30px rgba(255,255,255,0.8) inset; }
body.label-2 { border-top: none; background: saturate(darken($color_orange, 2), 2); box-shadow: 0 120px 130px -70px $color_orange inset, 0 30px 80px -30px rgba(255,255,255,0.8) inset; }
body.label-3 { border-top: none; background: saturate(darken($color_blue, 2), 2); box-shadow: 0 120px 130px -70px $color_blue inset, 0 30px 80px -30px rgba(255,255,255,0.8) inset; }
body.label-4 { border-top: none; background: saturate(darken($color_yellow, 2), 2); box-shadow: 0 120px 130px -70px $color_yellow inset, 0 30px 80px -30px rgba(255,255,255,0.8) inset; }
body.label-5 { border-top: none; background: saturate(darken($color_purple, 2), 2); box-shadow: 0 120px 130px -70px $color_purple inset, 0 30px 80px -30px rgba(255,255,255,0.8) inset; }
body.label-6 { border-top: none; background: saturate(darken($color_green, 2), 2); box-shadow: 0 120px 130px -70px $color_green inset, 0 30px 80px -30px rgba(255,255,255,0.8) inset; }
body.label-7 { border-top: none; background: saturate(darken($color_pink, 2), 2); box-shadow: 0 120px 130px -70px $color_pink inset, 0 30px 80px -30px rgba(255,255,255,0.8) inset; }

// Menu Activator Settigns
body.label-1 .navigation-pane { border-top: none; }
body.label-2 .navigation-pane { border-top: none; }
body.label-3 .navigation-pane { border-top: none; }
body.label-4 .navigation-pane { border-top: none; }
body.label-5 .navigation-pane { border-top: none; }
body.label-6 .navigation-pane { border-top: none; }
body.label-7 .navigation-pane { border-top: none; }


// ==============  Login Page Styles ========
#unmark_login_page {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #303030;
    top: 0;
    z-index: 99999;
}
#unmark_about_page { display: none; }
.login-page-bottom {
    background: #f0635a;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 150px;
    text-align: center;
    padding: 10px 20px 20px 20px;
    box-shadow: 0 18px 26px -20px rgba(0,0,0,0.4) inset, 0 5px 8px -6px rgba(0,0,0,0.35) inset;
    i {
        display: inline-block;
        width: 27px;
        height: 27px;
        margin: 25px auto;
        background-size: 100%;
        opacity: 0.6;
    }
    span {
        @include title-text;
        font-size: 12px;
        display:block;
        color: transparentize(white, 0.2);
    }
}

.loginWrapper, .forgotPassWrapper, .resetWrapper {
    width: 275px;
    margin: 50px auto 0;
    text-align: center;
    position: relative;
    //top: 0;
    //left: 50%;
    color:$color_light;
    .loginInner {
        position: relative;
        //left:-50%;
    }
    h1 {
        @include title-text;
        font-size: 11px;
        margin: 15px 0 5px 0;
    }
    .login-ball {
        width: 100px;
        margin: 0 auto;
    }
    .login-text {
        width: 150px;
        margin: 0 auto 30px auto;
    }
    form {
        margin-bottom: 0;
        position: relative;
        .field-input {
            width: 275px;
            background: $color_white;
            margin-bottom: 15px;
            padding: 10px;
            border: none;
            font-size: 12px;
            color: $color_black;
            font-family: $sans-serif;
            @include font-smoothing;
            &.small-left {
                width: 110px;
                float: left;
                margin-right: 10px;
            }
            &.small-right {
                width: 155px;
                float: left;
            }
        }
        .login-submit, .forgot-submit {
            background: none;
            position: absolute;
            top: 51px;
            color: $color_dark;
            font-size: 17px;
            right: -5px;
            i {
                width: 12px;
                height: 12px;
                display: block;
                background-size: 100%;
                margin-top: 4px;
                margin-right: -3px;
            }
        }
        .forgot-submit {
            top: 2px;
        }
        ::-webkit-input-placeholder {
            @include title-text;
            @include font-smoothing;
            font-size: 11px;
            color: $color_light;
            line-height: 17px;
        }
        ::-moz-placeholder {
            @include title-text;
            @include font-smoothing;
            font-size: 11px;
            color: $color_light;
            line-height: 17px;
        }
        :-ms-input-placeholder {
            @include title-text;
            @include font-smoothing;
            font-size: 11px;
            color: $color_light;
            line-height: 17px;
        }
    }
    a.forgot-pass, a.register {
        font-size: 13px;
        margin: 0 0 25px 0;
        font-weight: 400;
        color:$color_light;
    }
    span.sep {
        color: transparentize($color_light, 0.5);
        padding:0 10px;
    }
    .response-message {
        padding: 10px 10px 12px;
        margin: 0 0 25px 0;
        color: $color_light;
        border: 1px solid $color_light;
        font-size: 12px;
        display: none;
        font-weight: 400;
        &.error {
            color: $color_white;
            background: $color_red;
            border:none;
        }
    }
    #current_sub_card span {
        display: block;
        margin-bottom: 15px;
        font-size: 13px;
    }
    form#register_user .login-submit {
        top: 101px;
        display:block;
    }
}

.hiddenform h1 {
    margin-bottom: 25px;
}

.forgotPassWrapper {
    top: -500px;
    display: none;
}

.resetWrapper {
    a.forgot-pass {
        margin-top: 15px;
        display: block;
    }
    .gethere {
        display: none;
        border: 1px solid $color_light;
        padding: 10px 10px 0 10px;
        margin-top: 25px;
        font-size: 14px;
        position: relative;
        p {
            margin: 0;
            padding: 5px 5px 0px 5px;
            &.last {
                margin-bottom:25px;
            }
        }
        a {
            display: block;
            float: left;
            padding: 10px 41px;
            margin: 0 0 -15px -10px;
            border: 1px solid $color_light;
        }
        a.help {
            margin-left: -11px;
        }
        a.home {
            margin-right: -11px;
            padding-right: 49px;
            border-left: none;
        }
        &:before {
            position:absolute;
            top: -11px;
            content: "";
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid $color_light;
            left: 45%;
        }
    }
}

#importExportForm {
    top: -300px;
    a.exportbtn, a.importbtn {
        background: $color_blue;
        padding: 10px 20px;
        @include title-text;
        color: white;
        font-size: 12px;
        display: block;
        margin-bottom: 36px;
    }
    .importer, .importerHTML {
        display:none;
    }
    small {
        display: block;
        margin-top: 35px;
    }
    p {
        font-size: 14px;
    }
}

#helperforms {
    position:relative;
    z-index: 20000;
    //left: -65px;
    .hiddenform { display: none; }
    #resetPasswordForm {
        top: -300px;
        .login-submit {
            top: 102px;
            right: -5px;
            display: block;
        }
    }
    #changePasswordForm {
        top: -300px;
        .login-submit {
            top: 2px;
            display: block;
        }
    }
    #upgradeToPro {
        top: -300px;
        .login-submit {
            display: block;
            top: 101px;
        }
        button.cnclAcct {
            border-radius: 5px;
            padding: 10px 30px 12px;
            margin-top: 25px;
            background-color: $color_red;
        }
    }
    #twitterAuth {
        top: -300px;
        a.action {
            background: $color_blue;
            padding: 10px 20px;
            @include title-text;
            color: white;
            font-size: 12px;
            display: block;
            margin-bottom: 36px;
        }
    }
    #twitterSuccess, #twitterFail {
        top : 0;
    }
}

// Overlay
#unmark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color_dark;
    opacity: 0.95;
    z-index: 10000;
    #unmarkModalClose {
        position: absolute;
        top: 27px;
        right: 25px;
        i {
            color: $color_light;
            width: 24px;
            height: 24px;
            display: block;
            background-size: 100%;
        }
    }
}


// Animation Keyframes
//********************************************************//
@-webkit-keyframes rotate-forever { @include rotate-forever; }
   @-moz-keyframes rotate-forever { @include rotate-forever; }
        @keyframes rotate-forever { @include rotate-forever; }

// Animation of Spinner
.unmark-spinner {
    @include animation-duration(0.75s);
    @include animation-iteration-count(infinite);
    @include animation-name(rotate-forever);
    @include animation-timing-function(linear);
    @include size(75px);
    border: 3px solid $color_dark;
    border-right-color: transparent;
    border-radius: 50%;
    display: inline-block;
}

// Position of Spinner
.unmark-spinner {
    display: none;
    margin: 130px auto 0;
    width: 75px;
}

.unmark-success {
    display: none;
    margin: 117px auto 0;
    width: 75px;
    i {
        width: 75px;
        height: 75px;
        display: block;
        background-size: 100%;
    }
}

// Default Spinner
.icon-spinner {
    @include animation-duration(0.75s);
    @include animation-iteration-count(infinite);
    @include animation-name(rotate-forever);
    @include animation-timing-function(linear);
    display: inline-block;
    width: 25px;
    height: 24px;
    overflow: hidden;
    padding: 0;
}

// Helper Icon
i.icon-circle {
    @include unmark-label-ball(0, 0, 20px);
    position: relative;
    background: #A7A9AC;
}

.upgrade-search-results {
    clear: both;
    padding: 100px 0 0 0;
    text-align: center;
}

button.upgradeNowSidebar {
    background-color: $color_blue;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .15em;
    padding: 18px;
    width: 200px;
}

#error-wrapper {
    color: $color_light;
    width: 400px;
    margin: 100px auto 0 auto;
    text-align: center;
    #error-icon {
        width: 75px;
        margin: 0 auto 40px auto;
        img { max-width:100%; }
    }
    h1 {
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: .15em;
    }
}


// ==============  Let's get Responsive ========

.mobileonly { display: none !important; }
.tabletonly { display: none !important; }

#mobile-sidebar-show {
    display: none;
    width: 65px;
    height: 65px;
    position: absolute;
    right: 0;
    top: 0;
    i {
        width: 25px;
        height: 25px;
        background-size: 100%;
        display: block;
        margin: 19px 0 0 20px;
    }
}


// Table Landscape
@media only screen and (max-width : 1024px) {

    body[data-lookup="all"] { opacity: 1; }

    .marks_list .mark h2 { font-size: 18px; }

    .marks_list .mark .mark-actions a {
        width: 60px;
        float: left;
        height: 100%;
    }

    .tabletonly { display: block !important; }

}

// Tablet Portrait
@media only screen and (max-width : 767px) {
    .marks_list .mark h2 { font-size: 16px; }

    body {
        box-shadow: none;
    }
    .main-wrapper {
        box-shadow: none;
    }
    .navigation-content {
        box-shadow: none;
    }
    .navigation-pane {
        ul.navigation-pane-links {
            box-shadow: none;
        }
    }
    .navigation-panel-wrapper {
        .nav-panel {
            box-shadow: none;
        }
    }
    .sidebar-content {
        .sidebar-block {
            box-shadow: none;
            border-bottom: 1px solid #e4e4e4;
        }
         &:after {
            box-shadow: none;
            border-left: 1px solid #e4e4e4;
            top: 65px;
        }
    }
    ul.timeline {
        .timeline-dot {
            &:before {
                box-shadow: none;
            }
        }
    }
    .login-page-bottom {
        box-shadow: none;
    }
    .fullonly {
        display: none;
    }
    .mobileonly {
        display: block;
        &.inline {
            display: inline;
        }
        &.inline-block {
            display: inline-block;
        }
    }
    .sidebar-content {
        .sidebar-block {
            .sidebar-inner {
                a.btn, button {
                    width: 100%;
                    margin-bottom: 3px;
                }
            }
        }
    }
    .login-page-bottom {
        height: 68px;
        padding: 20px 10px;
        i {
            //vertical-align: -8px;
            //margin: 0 10px 0 0;
            //width: 20px;
            //height: 20px;
            display: none;
        }
        span {
            display: inline-block;
            font-size: 11px;
        }
    }
}

// Phone Portrait
@media only screen and (max-width : 480px) {

    .sidebar-action { display: none; }

    a[data-action="sidebar_expand"] { display: none; }

    body { overflow-x: hidden; box-shadow:none; }

    .marks_list {
        .mark {
            padding: 20px 70px 25px 20px;
            h2 {
                font-size: 16px;
                line-height: 22px;
            }
            &:after {
                right: 12px;
                height: 18px;
                width: 18px;
            }
        }
    }
    .navigation-content { left: -64px; }
    .main-wrapper {
        left: 0;
        top: 65px;
    }
    .main-content { width: 100%; }
    .sidebar-content {
        position: absolute;
        right: -85%;
        padding-right:0;
        display: none;
        border-left: 1px solid $color_light;
    }
    #mobile-sidebar-show { display: block; }
    .navigation-content .menu-activator {
        position: absolute;
        left: 62px;
        top: 0;
    }

    .branding {
        position: fixed;
        top: 21px;
        left: 60px;
        margin: 0;
        width: auto;
        display: block;
        .logo-text {
            background-size: 100%;
            width: 85px;
            margin: auto;
        }
    }

    .marks_list .mark h2 a:hover:after { display: none; }

    .sidebar-mark-info .sidebar-label { margin-top: 0; }

    .loginWrapper, .forgotPassWrapper, .resetWrapper { margin-top: 25px; }

    .login-page-bottom {
        background: none;
        box-shadow: none;
        position: relative;
        margin-top: 30px;
    }

    #helperforms { top: 35px; }

}
