$title: 'Montserrat', sans-serif;
$copy: 'Lato', sans-serif;
$red_bg: #f0635a;
$black_bg: #303030;

@mixin title-text {
	font-family: $title;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	font-weight: normal;
}
@mixin gradient($from, $to) {
  background-color: $from;
  background-image: -moz-linear-gradient($from, $to);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
  background-image: -webkit-linear-gradient($from, $to);
}
@mixin font-smooth {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizelegibility;
}
@mixin visual {
	margin-bottom: 52px;
	box-shadow: 0 4px 12px 0 transparentize(black, 0.9), 0 1px 3px 0 transparentize(black, 0.93);
}
.clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
} 
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
//html {
//	background-color: $black_bg;
//}
body {
	margin: 0;
	padding: 0;
	color: white;
	@include font-smooth;
}
a {
	color: inherit;
	text-decoration: none;
}
img {
	max-width: 100%;
}
p {
	font-size: 15px;
	line-height: 23px;
	font-family: $copy;
	font-weight: 300;
	text-align: center;
	margin-bottom: 22px;
	strong {
		font-weight: 400;
	}
}
#top {
	position: fixed;
	z-index: 2;
	height: 83px;
	width: 100%;
	background: $black_bg;
	top: 0;
	box-shadow: 0 4px 7px 1px rgba(0,0,0,0.14), 0 1px 3px 1px rgba(0,0,0,0.1);
}
#bottom {
	background: $red-bg;
	min-height:	100%;
	margin-top: 83px;
}
.logo {
	float: left;
	width: auto;
	height: 46px;
	margin: 19px 22px;
	.logo-mark {
		width: 44px;
		margin-right: 13px;
		float: left;
	}
	.logo-text {
		width: 86px;
		height: 19px;
		float: left;
		background-size: 100%;
		margin-top: 10px;
	}
}
nav {
	float: right;
	width: auto;
	margin: 27px 22px;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		float: right;
		li {
			float: left;
			padding: 0 0 0 20px;
			a {
				@include title-text;
				font-size: 11px;
				color: transparentize(white, 0.3);
				span {
					display: inline-block;
					width: 24px;
					height: 24px;
					background-size: 100%;
					margin-left: 5px;
					opacity: 0.4;
					vertical-align: -8px;
				}
			}
			i {
				font-style: normal;
			}
		}
	}
}
.content {
	margin: 82px auto 0;
	padding: 90px 26px 0;
	width: 598px;
	max-width: 100%;
	@extend .clearfix;
	h2 {
		@include title-text;
		font-size: 16px;
		line-height: 24px;
		color: transparentize(white, 0.1);
		margin-bottom: 50px;
		margin-top: 100px;
		&:first-of-type {
			margin-top: 0;
		}
	}
	.demo {
		background: transparentize(black, 0.9);
		@include visual;
		.chrome {
			height: 20px;
			@include gradient(transparentize($black_bg, 1), transparentize($black_bg, 0.88));
			@extend .clearfix;
			.dot {
				width: 6px;
				height: 6px;
				border-radius: 50%;
				margin: 7px 4px 7px 0;
				background: transparentize(white, 0.75);
				float: left;
				&:first-child {
					margin-left: 7px;
				}
			}
		}
		img {
			display: block;
		}
	}
	.feature-detail {
		margin: 0 -15px;
		@extend .clearfix;
	}	
	.feature {
		float: left;
		width: 33.333%;
		padding: 0 8px;
		margin: 0;
		//&:nth-of-type(3n+3) {
		//	margin-right: 0;
		//}
		img {
			display: block;
			box-shadow: 0 4px 12px 0 transparentize(black, 0.9);
		}
		figcaption {
			@extend p;
			font-weight: 400;
			margin-top: 12px;
		}
	}
	.chart {
		background: white;
		@include visual;
		min-height: 300px;
		padding: 0;
		@extend .clearfix;
		.table-column {
			width: 33.3333%;
			float: left;
			border-right: 1px solid #e9e9e9;
			&:first-child {
				background: #f7f7f7;
				ul {
					li {
						font-weight: 300;
						text-align: left;
						&:last-child {
							font-weight: 300;
						}
					}
				}
			}
			&:last-child {
				border-right: none;
			}
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				li {
					display: block;
					height: 44px;
					text-align: center;
					font-family: $copy;
					font-size: 13px;
					font-weight: 400;
					color: $black_bg;
					line-height: 43px;
					padding: 0 14px;
					border-bottom: 1px solid #e9e9e9;
					&:last-child {
						border: none;
						height: 56px;
						line-height: 55px;
						font-weight: 600;
					}
					&:first-child {
						height: 46px;
						line-height: 45px;
						.yay, .nay {
							margin-top: 13px;
						}
					}
					.yay, .nay {
						display: inline-block;
						width: 18px;
						height: 18px;
						background-size: 100%;
						vertical-align: -3px;
						margin: 12px auto;
					}
				}
			}
		}
	}
	footer {
		.links {
			text-align: center;
			@extend p;
			margin-top: 100px;
			a {
				&:after {
					display: inline-block;
					content: "\2022";
					opacity: 0.3;
					margin-left: 10px;
					margin-right: 7px;
				}
				&:last-child {
					&:after {
						display: none;
					}
				}
			}
		}
		.byline {
			@extend p;
			font-size: 13px;
			padding-bottom: 30px;
			margin-bottom: 0;
		}
	}
}

@media all and (max-width: 767px) {

.full-only {
	display: none;
}
#top {
	height: 64px;
}
#bottom {
	margin-top: 64px;
}
.content {
	margin: 64px auto 0;
	h2 {
		margin-bottom: 40px;
	}
	.demo {
		margin-bottom: 32px;
	}
	.feature-detail {
		.feature {
			width: 50%;
			figcaption {
				font-size: 13px;
			}
		}
	}
}
.logo {
	margin: 12px 12px;
	height: 40px;
	.logo-mark {
		width: 40px;
	}
	.logo-text {
		display: none;
	}
}
nav {
	margin: 23px 12px 0 0;
	ul {
		li {
			padding-left: 14px;
			a {
				font-size: 10px;
				span {
					width: 18px;
					height: 18px;
					margin-left: 2px;
					vertical-align: -6px;
				}
			}
		}
	}
}
p {
	font-size: 14px;
	line-height: 22px;
}

}







