// Bookmarklet Pop Up Window
.mark-added {
    font-weight: 300;
    .mark-added-block {
        background: $color_darker;
        color: $color_white;
        padding: 22px;
        font-size: 14px;
        //@include title-text;
        //word-spacing: 1px;
        line-height: 13px;
        font-weight: 600;
        box-shadow: 0 -1px 0 0 transparentize($color_dark_gray, .8) inset;
        i {
            float: right;
            margin-top: -5px;
            margin-right: -6px;
            width: 24px;
            height: 24px;
            background-size: 100%;
        }
    }
    .mark-added-info {
        padding: 32px 25px;
        color: $color_white;
        background: white;
        border-bottom: 1px solid transparentize($color_dark_gray, .86);
        h1 {
            font-weight: 400;
            color: $color_darker;
            font-size: 26px;
            margin: 0 0 15px 0;
        }
        span {
            color: darken($color_light, 25%);
            font-weight: 400;
            font-size: 12px;
            display: inline-block;
            @include unmark-truncate(400px);
        }
    }
    .mark-added-settings {
        font-size: 12px;
        //border-top: 1px solid #e5e5e5;
        padding: 25px;
        color: $color_dark_gray;
        position: relative;
        //@include title-text;
        a {
            color: $color_dark_gray;
            //text-transform: uppercase;
            font-weight: 600;
            display: block;
            position: relative;
            padding-left: 20px;
            font-size: 13px;
            &#currLabel {
                position: absolute;
                left: 200px;
                padding-left: 0;
            }
            &:before {
                //@include unmark-label-ball(-3px, -9px, 20px);
            }
            &.label-2 {
                &:before {
                    background: $color_orange;
                }
                color: $color_orange;
            }
            &.label-3 {
                &:before {
                    background: $color_blue;
                }
                color: $color_blue;
            }
            &.label-4 {
                &:before {
                    background: $color_yellow;
                }
                color: $color_yellow;
            }
            &.label-5 {
                &:before {
                    background: $color_purple;
                }
                color: $color_purple;
            }
            &.label-6 {
                &:before {
                    background: $color_green;
                }
                color: $color_green;
            }
            &.label-7 {
                &:before {
                    background: $color_red;
                }
                color: $color_red;
            }
        }
        &.mark-added-note a {
            padding-left:0;
            text-transform: none;
            letter-spacing: normal;
            font-weight: 400;
            font-size: 13px;
            &:before {
                display:none;
            }
        }
        section {
            //display: none;
            position: absolute;
            //background: $color_shade;
            //width: 100%;
            left: 0px;
            top: 45px;
            opacity: .95;
            padding: 10px 25px;
            color: $color_darker;
        }
        textarea {
            background: transparent;
            width: 100%;
        //    opacity: .95;
            padding: 0;
            color: darken($color_darker, 15%);
            border: none;
            overflow: auto;
            resize: none;
            height: 84px;
            font-size: 14px;
            font-family: $sans-serif;
            @include font-smoothing;
        }
        :-webkit-input-placeholder {
            @include font-smoothing;
            text-transform: none;
        }
        ::-moz-placeholder {
            @include font-smoothing;
            text-transform: none;
        }
        :-ms-input-placeholder {
            @include font-smoothing;
            text-transform: none;
        }
        &.mark-added-label section {
            padding: 0;
            top: 23px;
            left: 25px;
            z-index: 999;
        }
        #label-chosen {
            position: absolute;
            left: 200px;
            top: 24px;
            z-index: 9999;
            display: none;
            font-size: 13px;
            font-weight: 600;
            min-width: 80px;
            color: $color_dark_gray;
            background: lighten($color_gray, 1%);
            padding-top: 1px;
            //@include title-text;
            @include font-smoothing;
            &.label-2 { color: $color_orange; }
            &.label-3 { color: $color_blue; }
            &.label-4 { color: $color_yellow; }
            &.label-5 { color: $color_purple; }
            &.label-6 { color: $color_green; }
            &.label-7 { color: $color_red; }
        }
    }
    .mark-added-note {
        //border-bottom: 1px solid #e5e5e5;
    }
    .mark-added-actions {
        padding: 35px 20px;
        background: lighten($color_gray, 1%);
        position: absolute;
        bottom: 0;
        width: 100%;
        .delete-button {
            width: 45%;
            padding: 0 5px;
            float: left;
        }
        .update-button {
            width: 55%;
            padding: 0 5px;
            float: left;
        }
        button {
            width: 100%;
            color: $color_white;
            background: darken($color_blue, 5%);
            padding: 12px 0 14px;
            //@include title-text;
            @include font-smoothing;
            font-size: 14px;
            font-weight: 600;
            box-shadow: 0 30px 60px -24px transparentize(white, .94) inset, 0 2px 7px 0 transparentize($color_dark_gray, .8);
            &.delete {
                //width: 39%;
                background: $color_red;
                margin-right: 0;
            }
        }
    }
    .mark-added-upgrade {
        text-align: center;
        color: $color_dark;
        padding: 35px 15%;
        line-height: 28px;
        a { color: $color_dark; text-decoration:underline; }
        button {
            margin-top:25px;
        }
    }
    &[data-label="2"] {
        .mark-added-settings ul.label-choices li {
            &.label-2 a:before {
                box-shadow: 0 0 0 3px lighten($color_gray, 2%), 0 0 0 4px darken($color_gray, 14%);
            }
        }
    }
}

// Label List
.mark-added-settings ul.label-choices, ul.sidebar-label-list {
    margin: 0;
    padding:0;
    float: left;
    li {
        list-style: none;
        display: block;
        float: left;
        a {
            display: block;
            color: $color_dark_gray;
            text-align: left;
            padding: 10px 0 10px 24px;
            position: relative;
            font-size: 12px;
            &:focus, &:active {
                outline: 0;
            }
            &:before {
                @include unmark-label-ball(2px, 0px, 16px);
                //opacity: 0.3;
            }
            &:hover {
                &:before {
                    opacity: 1;
                }
            }
            span {
                display: none;
            }
        }
        &.label-2 a {
            color: $color_orange_text;
            &:before { background: $color_orange !important; }
        }
        &.label-3 a {
            color: $color_blue_text;
            &:before { background: $color_blue !important; }
        }
        &.label-4 a {
            color: $color_yellow_text;
            &:before { background: $color_yellow !important; }
        }
        &.label-5 a {
            color: $color_purple;
            &:before { background: $color_purple !important; }
        }
        &.label-6 a {
            color: $color_green_text;
            &:before { background: $color_green !important; }
        }
        &.label-7 a {
            color: $color_red;
            &:before { background: $color_red !important; }
        }
    }
}
