// Button Styles (class caried over from BootStrap)
button, a.btn {
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    @include user-select(none);
    font-size: 100%;
    padding: 5px 15px 7px;
    color: #FFF;
    border: 1px solid #999; // PICK COLOR
    border: 0 rgba(0,0,0,0);
    background-color: $color_darker;  // PICK COLOR
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
}

button.danger {
    background-color: $color_red;
    color:#FFF;
}
button.disabled {
    color: $color_dark;
}

// Alert Styles
.alert {
    background-color: $color_darker;
    border-radius: 4px;
    margin: 0 0 15px 0;
    padding: 10px;
    color: #FFF;
}


// Some Fancy Mixins
@mixin drop-shadow-border() {
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.08), 0 1px 0 0 rgba(0,0,0,0.02);
}


// The Unmark Ball
@mixin unmark-label-ball($top: 0, $hor: 0, $size: 20px, $right: false) {
    content: "";
    position: absolute;
    top: $top;
    @if $right { 
        right: $hor; 
    } @else {
        left: $hor;
    }
    height: $size;
    width: $size;
    border-radius: 50%;
    background: $color_grey;
}

// Shorten URL
@mixin unmark-truncate($width) {
    width: $width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Title Elements
@mixin title-text {
    font-family: $title;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-transform: uppercase;
    font-weight: 400;
}

// Font Smoothing
@mixin font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


// Rotate Mixins
@mixin rotate-forever {
    0%    { @include transform(rotate(0deg)); }
    100%  { @include transform(rotate(360deg)); }
}