// Login Page
#unmark_login_page {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color_darkest;
    top: 0;
    z-index: 99999;
}
#unmark_about_page { display: none; }
.login-page-bottom {
    background: none;
    width: 100%;
    position: relative;
    bottom: 0;
    height: 68px;
    padding: 20px 10px;
    text-align: center;
    margin-top: 30px;
    @include sm {
        background: #f0635a;
        position: absolute;
        margin-top: 0;
    }
    @include md {
        height: 150px;
        padding: 10px 20px 20px 20px;
        box-shadow: 0 18px 26px -20px rgba(0,0,0,0.4) inset, 0 5px 8px -6px rgba(0,0,0,0.35) inset;
    }
    i {
        display: none;
        width: 27px;
        height: 27px;
        margin: 25px auto;
        background-size: 100%;
        opacity: 0.6;
        @include md {
            display: inline-block;
        }
    }
    span {
        @include title-text;
        color: transparentize(white, 0.2);
        display: inline-block;
        font-size: 11px;
        @include md {
            font-size: 12px;
            display: block;
        }
    }
}

.loginWrapper, .forgotPassWrapper, .resetWrapper {
    width: 275px;
    //margin: 25px auto 0;
    margin: 0 auto;
    text-align: center;
    position: relative;
    color:$color_light;
    @include sm {
        //margin-top: 50px;
    }
    .loginInner {
        position: relative;
    }
    h1 {
        @include title-text;
        font-size: 11px;
        margin: 15px 0 5px 0;
    }
    .login-ball {
        width: 100px;
        margin: 0 auto;
    }
    .login-text {
        width: 150px;
        margin: 0 auto 30px auto;
    }
    form {
        margin-bottom: 0;
        position: relative;
        .field-input {
            width: 100%;
            background: $color_white;
            margin-bottom: 15px;
            padding: 10px;
            border: none;
            font-size: 12px;
            color: $color_darkest;
            font-family: $sans-serif;
            @include font-smoothing;
            &.small-left {
                width: 110px;
                float: left;
                margin-right: 10px;
            }
            &.small-right {
                width: 155px;
                float: left;
            }
        }
        .login-submit2 {
            background: $color_red;
            color: $color_white;
            font-size: 17px;
        }
        .login-submit, .forgot-submit {
            background: none;
            position: absolute;
            top: 51px;
            color: $color_dark;
            font-size: 17px;
            right: -5px;
            i {
                width: 12px;
                height: 12px;
                display: block;
                background-size: 100%;
                margin-top: 4px;
                margin-right: -3px;
            }
        }
        .forgot-submit {
            top: 2px;
        }
        ::-webkit-input-placeholder {
            @include title-text;
            letter-spacing: .35px;
            @include font-smoothing;
            font-size: 12px;
            color: darken($color_light, 5%);
            line-height: 13px;
        }
        ::-moz-placeholder {
            @include title-text;
            letter-spacing: .35px;
            @include font-smoothing;
            font-size: 12px;
            color: darken($color_light, 5%);
            line-height: 13px;
        }
        :-ms-input-placeholder {
            @include title-text;
            letter-spacing: .35px;
            @include font-smoothing;
            font-size: 12px;
            color: darken($color_light, 5%);
            line-height: 13px;
        }
    }
    a.forgot-pass, a.register {
        font-size: 13px;
        margin: 0 0 25px 0;
        font-weight: 400;
        color:$color_light;
    }
    span.sep {
        color: transparentize($color_light, 0.5);
        padding:0 10px;
    }
    .response-message {
        padding: 12px 12px 15px;
        //margin: 0 0 25px 0;
        color: $color_darkest;
        //border: 1px solid $color_light;
        font-size: 13px;
        display: none;
        font-weight: 400;
        background: $color_gray;
        &.error {
            color: $color_white;
            background: $color_red;
            border:none;
        }
    }
    #current_sub_card span {
        display: block;
        margin-bottom: 15px;
        font-size: 13px;
    }
    form#register_user .login-submit {
        top: 101px;
        display:block;
    }
}

.hiddenform h1 {
    margin-bottom: 25px;
}

.forgotPassWrapper {
    top: -500px;
    display: none;
}

.resetWrapper {
    a.forgot-pass {
        margin-top: 15px;
        display: block;
    }
    .gethere {
        display: none;
        border: 1px solid $color_light;
        padding: 10px 10px 0 10px;
        margin-top: 25px;
        font-size: 14px;
        position: relative;
        p {
            margin: 0;
            padding: 5px 5px 0px 5px;
            &.last {
                margin-bottom:25px;
            }
        }
        a {
            display: block;
            float: left;
            padding: 10px 41px;
            margin: 0 0 -15px -10px;
            border: 1px solid $color_light;
        }
        a.help {
            margin-left: -11px;
        }
        a.home {
            margin-right: -11px;
            padding-right: 49px;
            border-left: none;
        }
        &:before {
            position:absolute;
            top: -11px;
            content: "";
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid $color_light;
            left: 45%;
        }
    }
}
