#importExportForm {
    margin: 0 auto;
    a.exportbtn, a.importbtn {
        background: $color_blue;
        padding: 12px 34px 13px;
        color: white;
        font-size: 14px;
        font-weight: 600;
        display: block;
        margin-bottom: 20px;
        box-shadow: 0 30px 60px -24px transparentize(white, .8) inset, 0 2px 7px 0 transparentize($color_dark_gray, .8);
    }
    .importer, .importerHTML {
        display:none;
    }
    small {
        display: block;
        margin-top: 28px;
        color: transparentize($color_dark_gray, .2);
    }
    p {
        font-size: 14px;
        color: transparentize($color_dark_gray, .1);
    }
    h1 {
        font-weight: 600;
        color: $color_dark_gray;
        font-size: 16px;
        text-transform: none;
        letter-spacing: normal;
        word-spacing: normal;
        margin: 50px 0 24px;
    }
    form {
        box-shadow: none !important;
    }
}

#helperforms {
    position: absolute;
    z-index: 20000;
    width: 100%;
    top: 35px;
    @include sm {
        top: 60px;
    }
    .hiddenform { display: none; }
    #resetPasswordForm {
        .login-submit {
            display: block;
        }
        form {
            margin-top: 20px;
            input {
                font-size: 22px;
                letter-spacing: 1px;
                font-weight: 300;
                padding: 9px 15px 11px;
            }
        }
    }
    #changePasswordForm {
        .login-submit {
            display: block;
        }
        form {
            margin-top: 20px;
        }
    }
    #upgradeToPro {
        .login-submit {
            display: block;
            top: 101px;
        }
        button.cnclAcct {
            border-radius: 5px;
            padding: 10px 30px 12px;
            margin-top: 25px;
            background-color: $color_red;
        }
    }
    #twitterAuth {
        a.action {
            background: $color_blue;
            padding: 10px 20px;
            @include title-text;
            color: white;
            font-size: 12px;
            display: block;
            margin-bottom: 36px;
        }
    }
    #twitterSuccess, #twitterFail {
        top : 0;
    }
    input {
        padding: 14px 15px 16px;
        border: 1px solid transparentize($color_dark_gray, .85);
        border-bottom: none;
        font-size: 15px;
        color: darken($color_dark_gray, 20%);
        margin-bottom: 0;
        text-align: center;
    }
    h1 {
        font-weight: 600;
        color: $color_dark_gray;
        font-size: 16px;
        text-transform: none;
        letter-spacing: normal;
        word-spacing: normal;
        margin: 50px 0 24px;
    }
    form {
        box-shadow: 0 2px 5px 0 transparentize($color_dark_gray, .8), 0 4px 12px 0 transparentize($color_dark_gray, .9);
        button, .login-submit {
            position: relative;
            margin: 0;
            top: auto;
            left: auto;
            right: auto;
            background: $color_blue;
            padding: 14px 15px 15px;
            font-size: 14px;
            width: 100%;
            height: 50px;
            box-shadow: 0 30px 60px -24px transparentize(white, .8) inset;
            &:after {
                content: "";
                width: 14px;
                height: 7px;
                border: 1px solid;
                border-color: transparent transparent $color_white $color_white;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -4px;
                margin-top: -6px;
            }
            i {
                display: none;
            }
        }
    }
}

// Overlay
#unmark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color_gray;
    opacity: 0.97;
    z-index: 10000;
    #unmarkModalClose {
        position: absolute;
        top: 27px;
        right: 25px;
        height: 32px;
        width: 32px;
        border: 1px solid transparentize($color_dark_gray, .65);
        border-radius: 50%;
        &:before, &:after {
            content: " ";
            display: block;
            height: 2px;
            width: 16px;
            background: lighten($color_dark_gray, 10%);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
            top: 50%;
            right: 50%;
            margin-right: -8px;
            margin-top: -1px;
        }
        &:after {
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        i {
            display: none;
        }
    }
}
